# >>> clash-proxy >>>
export CLASH_PROXY_ROOT="__CLASH_PROXY_ROOT__"
export PATH="${CLASH_PROXY_ROOT}/bin:${PATH}"
proxy() {
    # shellcheck disable=SC1090
    source "${CLASH_PROXY_ROOT}/lib/proxy-invoke.sh"
    _proxy_cli "$@"
}
# <<< clash-proxy <<<
